parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - vendor/*
    checkMissingIterableValueType: true
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        -
            message: '#PHPDoc tag @var#'
            path: src/*
        -
            identifier: 'missingType.generics' 