parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - vendor/*
        - tests/bootstrap.php
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    treatPhpDocTypesAsCertain: true
    ignoreErrors:
        - '#PHPDoc tag @var#'

rules:
    - PHPStan\Rules\Arrays\DeadForeachRule
    - PHPStan\Rules\Arrays\IterableInForeachRule
    - PHPStan\Rules\Classes\ClassAttributesRule
    - PHPStan\Rules\Functions\CallToNonExistentFunctionRule
    - PHPStan\Rules\Methods\ReturnTypeRule
    - PHPStan\Rules\Variables\DefinedVariableRule

services:
    -
        class: PHPStan\Rules\Cast\UselessCastRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Functions\UnusedClosureUsesRule
        tags:
            - phpstan.rules.rule 