parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - vendor/*
    checkMissingIterableValueType: true
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - identifier: missingType.generics 